:root {
  --dk-blu: #002563;
  --lt-blue: #005fff;
  --dk-yl: #f8b400;
  --lt-yl: #ffde90;
  --wt: #f0f0f0;
}

.App {
  background-color: var(--wt);
  color: var(--dk-blu);
}

@media (prefers-reduced-motion: no-preference) {
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
